<form action="">
    <div class="form-group" class="firstform">
  
      <input type="text " class="form-control" placeholder="Enter githubUserName " width =50% [(ngModel)]="userName" name="userName"  (keyup)="findProfile()">
    </div>
  </form>
  
      <div class="container">
        <div class="row profile-info">
          <div class="col-md-4">
            <img src="{{profile.avatar_url}}"  class="img-circle img-responsive" alt="Profile picture">
            <div *ngIf="profile">
                <div class="container">
                    <div class="row">
                      {{profile.name }} <small> ({{profile.login}}) </small>
                      
                    </div>
                    </div>
                  </div>
          </div>
          <div class="col-md-2">
            <ul class="list-group">
              <li class="list-group-items" *ngIf="profile.bio"> {{profile.bio}} </li>
              
            </ul>
          </div>
          <div class="col-md-6">
            <div class="profile2">
              <p>
                <button type="button" class="btn btn-success">{{profile.public_repository}} Public Repositories</button>
                <button type="button" class="btn btn-secondary">  {{profile.following}} Github Following</button>
                <button type="button" class="btn btn-primary">{{profile.followers}} Github Followers</button>
                
              </p>
            </div>
          </div>
        </div>
  
  
      </div>
  
              <div class="container">
                  <h3 class="repo-title">Repositories created by {{userName}}</h3>
                <div class="card" *ngFor="let repo of repository">
                  <div class="card-body">
                    <h4 class="card-title">{{repo.name}} </h4>
                    <h5>This project was Created on: {{repo.created_at | onDate}}</h5>
                    <p  appHighlight *ngIf='repo.description' class="card-text">{{repo.description}}</p>
                    <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-info">View this project on ghpages:</a>
                  </div>
                  </div>
                </div>
  