.firstform{
  text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    width:auto;
    
  }
  
  .profile-intro{
    margin-top:8px;
  }
  
  .img-circle{
    border-radius:140px;
    height:350px;
    width:350px;
    border-radius:170px;
  }
  
  
  .card-text{
    font-weight: bold;
    font-size: 25px;
  }
  
  .card-title{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
  }
   
  .btn{
    margin:2px;
    font-weight: bold;
  }
  
  
  .profile2{
    margin-top:5px;
    margin:10px;
    font-family: 'Amaranth', sans-serif;
  }
    